/* assets/scss/style.scss */
@use "app";
@use "bootstrap-icons";
@use "banner";
@use "buttons";
@use "footer";
@use "navbar";
@use "typography";


@use "pages/residential";
@use "pages/commercial";
@use "pages/light-industry";
@use "pages/estates";
@use "pages/updates";
@use "pages/news";
@use "pages/about";
@use "pages/home";
@use "pages/contact-us";
