/* assets/scss/style.scss */
@use "app";
@use "bootstrap-icons";
@use "banner";
@use "buttons";
@use "footer";
@use "navbar";
@use "typography";
@use "forms.scss";
@use "partners.scss";
@use "sliders.scss";
@use "navigation.scss";
@use "pages/estates.scss";


@use "pages/residential";
@use "pages/commercial";
@use "pages/news";
@use "pages/about";
@use "pages/home";
@use "pages/contact-us";

